<!DOCTYPE html>
<html lang="fr" class="dark">
{{ partial "head.html" . }}
<body class="bg-blue-900 bg-opacity-70 font-['Inter'] text-gray-900 antialiased">
  {{ partial "header.html" . }}
  <main class="container mx-auto flex-grow p-8 border-3">
    voici la page liste
  <section class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 text-2xl text-white p-8">
    {{ .Content }}
  </section>
  <section class="py-16 bg-slate-900">
    <div class="px-6">
      <h2 class="text-3xl font-bold text-center text-white mb-12">
        Articles de blog
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {{ range .Pages }}
        <div class="bg-slate-800 rounded-xl shadow-lg overflow-hidden hover:scale-105 hover:shadow-2xl transition-transform duration-300">
          <!-- Image si tu en as une dans le front matter -->
          {{ with .Params.image }}
            <img src="{{ . }}" alt="{{ $.Title }}" class="w-full h-40 object-cover">
          {{ end }}

          <div class="p-6 min-w-fit">
            <h3 class="text-xl font-semibold text-white mb-2">
              <a href="{{ .Permalink }}" class="hover:text-blue-400 transition-colors">
                {{ .Title }}
              </a>
            </h3>
            <p class="text-slate-500 text-xs">
              📅 {{ .Date.Format "2006-01-02" }}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>

  </main>
  {{ partial "footer.html" . }}
</body>
</html>
